/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.top {
    background-color: #AA0301;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.top a {
    text-decoration: none;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.a1{
    margin-left: 900px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.service{
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

 .title span{
    text-align: center;
    font: normal normal bold 48px/72px Source Han Sans TW;
    text-align: center;
    letter-spacing: 0px;
    color: #650300;
    text-transform: uppercase;
    opacity: 1;
}

.item img{
    width: 83px;
    height: 83px;
    justify-content: center;
    align-items: center; 
}

.item1 .title{
    text-align: center;
    font: normal normal bold 24px/36px Source Han Sans TW;
    letter-spacing: 0px;
    color: #650300;
    text-transform: uppercase;
    opacity: 1;
}
.item2 .title{
    text-align: center;
    font: normal normal bold 24px/36px Source Han Sans TW;
    letter-spacing: 0px;
    color: #650300;
    text-transform: uppercase;
    opacity: 1;
}
.item3 .title{
    text-align: center;
    font: normal normal bold 24px/36px Source Han Sans TW;
    letter-spacing: 0px;
    color: #650300;
    text-transform: uppercase;
    opacity: 1;
}
.item4 .title{
    text-align: center;
    font: normal normal bold 24px/36px Source Han Sans TW;
    letter-spacing: 0px;
    color: #650300;
    text-transform: uppercase;
    opacity: 1;
}

.item{
    margin: 10px;
    justify-content: center;
    align-items: center; 
}

.classic{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.classic img{
    width: 416px;
    height: 416px;
}

.box{
    margin: 24px;
}

.box p{
    text-align: center;
    font: italic normal 900 48px/72px Roboto;
    letter-spacing: 0px;
    color: #AA0601;
    text-transform: uppercase;
    opacity: 1;
}

.suggest{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.suggest img{
    width: 306px;
    height: 306px;
}

.command{
    width: 306px;
    height: 306px;
    margin: 20px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
}
.command p{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/24px var(--unnamed-font-family-source-han-sans-tw);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal normal 16px/24px Source Han Sans TW;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}